{% extends "biblioteca/base.html" %}
{% load static %}

{% block title %}My Books{% endblock %}

<link href="{% static "css/view/mainPage.css" %}" rel="stylesheet">
{% block content %}
  {% include "biblioteca/layout/header.html" %}
  {% include "biblioteca/components/bookCategoriesMenu.html" %}

  <div id="container" class="container">
    <div class="container--left cl">
      {% include "biblioteca/components/bookCategoriesIndex.html"%}
    </div>

    <div class="container--center cc">
      
      {% block mainPageContent %}
      {% endblock %}

    </div>

    <div class="container--right cr">

    </div>

  </div>

{% endblock %}