{% extends "biblioteca/base.html" %}

{% load static %}


{% block title %}My Books{% endblock %}

{% block content %}
  <link href="{% static "css/layout/mainPage.css" %}" rel="stylesheet">
  

  {% include "biblioteca/layout/header.html" %}
  {% include "biblioteca/components/bookCategoriesMenu.html" %}
  

  <div class="mainPageContainer">
    <div class="container--left cl p-3">
      {% comment %} {% include "biblioteca/components/bookCategoriesLateral.html"%} {% endcomment %}
    </div>

    <div class="container--center cc p-3">
      
      {% block mainPageContent %}
      {% endblock %}

    </div>

    <div class="container--right cr p-3">

    </div>

  </div>

{% endblock %}