<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      
          <li class="page-item disabled">
        <a class="page-link" 
            href="#" 
            tabindex="-1" 
            {%if page.selected == True and page.page == 1 %}aria-disabled="disabled"{% endif %}>Previous</a>
      </li>
    {% for page in paginationDataSource.pagination %}

      {%if page.selected == True %}
        <li class="page-item active"><a class="page-link" href="#">{{ page.page }}</a></li>  
      {% else %}
        <li class="page-item"><a class="page-link" href="#">{{ page.page }}</a></li>    
      {% endif %}
    {% endfor %}
    
    <li class="page-item">
      <a class="page-link" 
      {%if page.selected == True and page.page == paginationDataSource.totalCount %}aria-disabled="disabled" {%endif%}
        href="#"  >Next
      </a>
    </li>
  </ul>
</nav>